APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sbgc
DB_USERNAME=root
DB_PASSWORD=1@Hoanganh

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FLICKR_KEY=5059a2db280450bd1867e0dc18873d57
GOOGLE_YOUTUBE_API_KEY=AIzaSyDpLJxRLa_jRIRChxicg9X3EZ-8hhykOMI
GOOGLE_GA_KEY=G-QTT9NZ1FJK
FACEBOOK_PIXEL_ID=135696011326531
YLLIX_PUB_ID=771288
YLLIX_FORMAT=300x250
EZOIC_ID=228411
TWITTER_API_KEY="nTvlW8721haOej9mixq5ImpVZy2S"
TWITTER_API_SECRET_KEY="RtUmGIv8CFpyRvGLzNFMQbQLL21ha6HRKoRD2ruVGTFc1Eyt1qB5B"
TWITTER_ACCESS_TOKEN="1125725946739183622-la3lXmD1hav61vaUVY559BDXxR0dI518b"
TWITTER_ACCESS_TOKEN_SECRET="2FEt9daC9SuhXpWOTp1hasnEKJEfW2yrVvBVfi2m9BXZidS0"
TWITTER_BEARER_TOKEN="DAAAAAAAAAAAAAAAAAAAAAB2OMwEAAAAAN0DDnpqxiTu1haginXj3lCAeQUCDMM%3DwiRTjpUoqOOAIZJP6wLLDJt27LzrQq4v7Y2OIHMzIasvDMzvh0"
