#/node_modules
/public/hot
/public/storage
/storage/*.key
#/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nbproject/
/modelCrawler/__pycache__
public/imgs/posts/video/*.jpg
public/imgs/posts/video/*.pyc
public/imgs/posts/video/__pycache__
