* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --black: #333;
    --black2: #666;
    --white: #fff;
    --white2: #fff;
    --white3: #fafafa;
    --blue: #4d5bf9;
    --pink: #f8478d;
    --pink2: #fedeeb;
}

.container {
    position: relative;
    width: 100%;;
    height: 100%;
}
.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    max-height: 100vh;
    border-right: 1px solid rgba(0,0,0,0.05);
    background: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width .5s, left 0.5s;
}
.nav.active {
    width: 0;
}
.nav ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px 20px 20px;
}
.nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    padding: 10px;
}
.nav ul li.active {
    background: var(--white);
    border-radius: 15px 0 0 15px;
}
.nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    white-space: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    font-size: 1em;
}
.nav ul li a .nav-list_icon {
    margin-right: 10px;
    font-size: 1.2em;
}
.nav ul li.active a {
    color: var(--pink);
    opacity: 1;
}
.nav ul li a:hover {
    opacity: 1;
}
.main {
    position: absolute;
    width: calc(100% - 300px);
    background: var(--white);
    min-height: calc(100vh - 60px);
    left: 300px;
    transition: width 0.5s, left 0.5s;
    top: 60px;
    padding-bottom: 0;
}
.main.active {
    width: 100%;
    left: 0;
}
.topbar {
    position: fixed;
    width: calc(100% - 300px);
    background: var(--pink2);
    left: 300px;
    top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    height: 60px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: width 0.5s, left 0.5s;
}
.topbar.active {
    width: 100%;
    left: 0;
}
.topbar .logo {
    text-decoration: none;
    font-weight: 700;
    color: var(--black2);
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.topbar .toggle {
    position: relative;
    cursor: pointer;
    font-size: 2em;
    color: var(--black);
}

.top-posts {
    width: 100%;
    display: flex;
    padding: 14px;
}
.top-posts_left {
    width: 50%;
}
.top-posts_right {
    width: 50%;
}
.card {
    width: 100%;
    position: relative;
    padding: 10px;
}
.top-posts_right .card {
    width: 50%;
    float: left;
}
.card > a {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 90%;
    display: block;
}
.top-posts_right .card > a {
    padding-top: calc(90%);
}
.card img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}
.card .card-info {
    position: absolute;
    z-index: 9;
    bottom: 0;
    padding: 10px;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    background: var(--white);
    color: var(--pink);
    border-radius: 10px;
}
.card .card-info h3 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    -webkit-box-orient: vertical;
    font-size: 1em;
}
.top-posts_left .card .card-info h3 {
    font-size: 1.4em;
}
.card .card-info span {
    font-size: 0.7em;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    padding-top: 24px;
}
.lastest-posts {
    display: block;
    width: 100%;
    padding: 14px;
}
.lastest-posts .card {
    width: 25%;
    float: left;
}
.lastest-posts .card > a {
    padding-top: 125%;
}

.pagination {
    clear: both;
    padding: 24px;
    text-align: center;
}
.btn-viewmore {
    text-decoration: none;
    padding: 10px 20px;
    background: var(--pink);
    color: var(--white);
    font-weight: 500;
    font-size: 1em;
    border-radius: 5px;
}
footer {
    float: left;
    padding: 24px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    display: block;
    margin-top: 14px;
    width: 100%;
}
footer a {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--white);
}

@media (max-width: 992px) {
    .nav {
        left: -100%;
    }
    .nav.active {
        left: 0;
        width: 100%;
    }
    .main, .topbar, .topbar.active {
        width: 100%;
        left: 0;
    }
    .main.active {
        display: none;
    }

    .top-posts {
        flex-direction: column;
    }
    .top-posts_left, .top-posts_right {
        flex: 100%;
        width: 100%;
    }
    .lastest-posts .card {
        width: 50%;
    }
}
